%section.devise-page.vh-100
  .container-fluid.h-custom
    .row.d-flex.h-100
      .col-lg-8.col-xl-4.offset-xl-1
        .page-title
          Resend confirmation instructions

        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .form-outline.mb-4
            = f.label :email, 'Email address', class: 'form-label'
            = f.email_field :email, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control form-control-lg'

          .text-center.text-lg-start.mt-4.pt-2
            = f.submit "Resend confirmation instructions", class: 'btn btn-primary btn-md'

          .text-center.text-lg-start.mt-4.pt-2
            = link_to "Forgot your password?", new_password_path(resource_name), class: 'text-body'
            %br/
            = link_to "Sign up", new_registration_path(resource_name), class: 'text-body'
            %br/
            = link_to "Log in", new_session_path(resource_name), class: 'text-body'
