%section.devise-page.vh-100
  .container-fluid.h-custom
    .row.d-flex.h-100
      .col-lg-8.col-xl-4.offset-xl-1
        .page-title
          Sign up to Treehouse services

        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .form-outline.mb-4
            = f.label :email, 'Email address', class: 'form-label'
            = f.email_field :email, autocomplete: "email", class: 'form-control form-control-lg'

          .form-outline.mb-4
            = f.label :first_name, 'First name', class: 'form-label'
            = f.text_field :first_name, class: 'form-control form-control-lg'

          .form-outline.mb-4
            = f.label :last_name, 'Last name', class: 'form-label'
            = f.text_field :last_name, class: 'form-control form-control-lg'

          .form-outline.mb-3
            = f.label :password, class: 'form-label'
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-lg'

          .form-outline.mb-3
            = f.label :password_confirmation, class: 'form-label'
            = f.password_field :password_confirmation, autocomplete: "current-password", class: 'form-control form-control-lg'

          .text-center.text-lg-start.mt-4.pt-2
            = f.submit "Sign up", class: 'btn btn-primary btn-md'

          .text-center.text-lg-start.mt-4.pt-2
            = link_to "Log in", new_session_path(resource_name), class: 'text-body'
            %br/
            = link_to "Forgot your password?", new_password_path(resource_name), class: 'text-body'
