%section.devise-page.vh-100
  .container-fluid.h-custom
    .row.d-flex.h-100
      .col-lg-8.col-xl-4.offset-xl-1
        .page-title
          Did you forget your password?

        %p No worries! Enter your email address and we'll send you instructions on how to reset it.

        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          .form-outline.mb-4
            = f.label :email, 'Email address', class: 'form-label'
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg'

          .text-center.text-lg-start.mt-4.pt-2
            = f.submit "Send me reset password instructions", class: 'btn btn-primary btn-md'

          .text-center.text-lg-start.mt-4.pt-2
            = link_to "Log in", new_session_path(resource_name), class: 'text-body'
            %br/
            = link_to "Sign up", new_registration_path(resource_name), class: 'text-body'

