- role_for_alert = alert == I18n.t('devise.failure.unauthenticated') ? 'info' : 'danger'

- if notice
  = alert_for(role: 'success', text: notice)

- if alert
  = alert_for(role: role_for_alert, text: alert)

- if flash[:error]
  = alert_for(role: 'danger', text: flash[:error])

- if flash[:success]
  = alert_for(role: 'success', text: flash[:success])
