%nav.navbar.navbar-expand-lg.navbar-light.bg-green
  .container
    = link_to "Treehouse", root_path, class: 'navbar-brand'

    - if user_signed_in?
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item
            = link_to 'Summary', root_path, class: 'nav-link'
          - if current_user.admin?
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                Admin
              %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %li
                  %a.dropdown-item{href: '/sidekiq', target: '_blank'} Sidekiq
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              Services
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                %a.dropdown-item{href: '#'} Book a guest room (coming soon!)
          %li.nav-item
            = link_to 'Wiki', wiki_path, class: 'nav-link'
        %form.d-flex
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                = current_user.first_name
              %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %li
                  %span.dropdown-item.email
                    = current_user.email
                %li
                  %a.dropdown-item{:href => "#"} Edit profile (coming soon!)
                %li
                  = link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: 'dropdown-item'
