%section.devise-page.vh-100
  .container-fluid.h-custom
    .row.d-flex.justify-content-center.align-items-center.h-100

      .col-md-9.col-lg-6.col-xl-5.treehouse-image
        = image_tag 'treehouse_village.png', class: 'img-fluid'

      .col-md-8.col-lg-6.col-xl-4.offset-xl-1
        .page-title
          Log in to Treehouse services

        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-outline.mb-4
            = f.label :email, 'Email address', class: 'form-label'
            = f.email_field :email, autocomplete: "email", class: 'form-control form-control-lg'

          .form-outline.mb-3
            = f.label :password, class: 'form-label'
            = f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-lg'

          .d-flex.justify-content-between.align-items-center
            - if devise_mapping.rememberable?
              .form-check.mb-0
                = f.check_box :remember_me, class: 'form-check-input me-2'
                = f.label :remember_me, class: 'form-check-label'
          .text-center.text-lg-start.mt-4.pt-2
            -# %button.btn.btn-secondary.btn-md{:disabled => "disabled", :type => "button"} Coming soon!
            = f.submit 'Log in', class: 'btn btn-primary btn-md'

          .text-center.text-lg-start.mt-4.pt-2
            = link_to "Forgot your password?", new_password_path(resource_name), class: 'text-body'
            %br/
            = link_to "Sign up", new_registration_path(resource_name), class: 'text-body'
