.container {
  &.lg {
    max-width: 960px;
  }
  &.xl {
    max-width: 1140px;
  }
}

.navbar {
  &.bg-green {
    background-color: #056839 !important;
  }

  .container {
    max-width: 1320px;

    .navbar-brand {
      color: #fff;
      margin-right: 2rem;
    }

    .nav-item {
      padding: 0px 5px;

      .nav-link {
        color: #fff !important;
      }

      &.dropdown {
        ul {
          border: 1px solid gray;

          span {
            &.email {
              color: gray;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}

.devise-page {
  margin: 20px 0px;
  .treehouse-image {
    padding-bottom: 35px;
  }

  .page-title {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

.user-page {
  padding-top: 20px;
}
