!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Treehouse
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.d-flex.flex-column.h-100
    = render 'shared/navigation'

    %main.flex-shrink-0{ role: 'main' }
      .container.my-3
        = render 'shared/alerts'

        = yield
