!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %style{type: 'text/css', media:'screen'}
      h3 { font-size: 20px }
      p { margin: 15px 0px; font-size: 16px }
      img { margin: 20px 0px }
  %body{style: 'margin:0px;padding:0px;background:#f6f8f7'}
    %table{role: 'presentation', style: 'width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#f6f8f7;'}
      %tr
        %td{align: 'center', style: 'padding:0'}
          %table{role: 'presentation', style: 'width:100%;max-width:602px;border-collapse:collapse;border-spacing:0;text-align:left;background:#ffffff;margin:25px 0px;'}
            %tr
              %td{style: 'padding:0', align: 'center'}
                = image_tag 'treehouse_village.png', style: 'height:auto; width:100%; max-width:200px;'
            %tr
              %td{style: 'padding:15px'}
                = yield
