%h3= "Welcome to Treehouse Services, #{@user.first_name}!"

%p
  = 'Glad to see you here, thanks for signing up!'

%p
  = 'The "Treehouse Services" website is still pretty new. It does not provide much at the moment. But as our community settles, we will be working to bring new services to it (eg. a booking system) to facilitate coordination among us.'

%p
  = "In the meantime, please click on #{ link_to 'this confirmation link', confirmation_url(@resource, confirmation_token: @token) } to validate your registration, then you'll be able to log in to Treehouse Services!".html_safe

%p
  = 'Finally, feel free to reach out to us if you have any questions about this website.'

%p
  = 'Take care!'
  <br />
  = 'The TVE tech admins.'
